body { 
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif; 
}

a { 
    color:#00abff;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

#content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}

#sidebar { 
    float:right;
    width:30%;
    padding:10px;
    background:#efefef; 
    height:100%;
}

p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:rgb(77, 78, 80);
}
html {direction:rtl;
    font-family:"Droid Arabic Kufi", "Droid Sans", sans-serif;
    font-size:16px;
    } 

img {    display: block;    margin: auto;    width: 40%;}
.font14{
    font-family: "yekan";
    font-size: 14px;
}

.font15{
    font-family:" yekan";
    font-size: 15px;
}
.font16{
    font-family: "yekan";
    font-size: 16px;
}
.font17{
    font-family: "yekan";
    font-size: 17px;
}
.font18{
    font-family: "yekan";
    font-size: 18px;
}
.font19{
    font-family: "yekan";
    font-size: 19px;
}
.font20{
    font-family: "yekan";
    font-size: 20px;
}

.header{
    width: 100%;
    height: 140px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #ccc;
      
}
.header-right{
    width: 500px;
    height: 100%;
    float: right;
}

.header-right .box-head{
    margin: 7px 0 0 0;
    float: right;
    
}

.header-right .box-head img{
    margin: 5px 0 0 0;
	 width: 150px;
    height: 140px;
	float: right;
}


.header-right .box-head h1{
    float: right;
    margin: 30px  11px 0 0;
    font-weight:240;
    color: #2A82D7;
     transition: all 0.3s ease;


}
/*
.header-right .box-head h3{
    float: right;
    width: 295px;
    margin: -35px 100px 0 0;
    font-weight: 500;
    transition: all 0.6s ease;
    font-family: yekan;
    color: #2A82D7;

    
}
*/
/*
.header-right .box-head h3:hover{
    color: orange;
    cursor: pointer;
}
*/

.header-right .box-head h1:hover{
    color: orange;
    cursor: pointer;
}

.header-left{
    width: 700px;
    height: 100%;
    float: left;
}
.search-box{
    width: 300px;
    height: 40px;
    float: left;
}

body{
    background-color:antiquewhite;
    }
.footer{
        width: 100%;
        height: 300px;
        background-color: #212121;
    }
    
.footer p{
        text-align: center;
        color: #fff;
    }
    